@theme-primary:    rgb(95, 87, 81);
@theme-danger:     rgb(153, 48, 48);

@color-base:        #000;
@color-red :       rgb(153, 48, 48);
@color-grey :      rgb(95, 87, 81);
@color-light :      lighten(@color-grey,60%);

@img_btn_menu : url(../images/btn_menu.jpg);
@Logo_Weezioo : url(../images/Logo_Weezioo.png);
@logo_smartphone : url(../images/logos/logo_smartphone.png);
@logo_rouage : url(../images/logos/logo_rouage.png);
@logo_double_rouage : url(../images/logos/logo_double_rouage.png);
@truckaccess : url(../images/truckaccess.png);
@logo_computer : url(../images/logos/logo_ordinateur.png);
@logo_planning : url(../images/logos/logo_planning.png);
@logo_signature : url(../images/logos/logo_signature.png);
@logo_code_barre : url(../images/logos/logo_code_barre.png);
@logo_chat : url(../images/logos/logo_chat.png);
@logo_module : url(../images/logos/logo_modules.png);
@logo_carto : url(../images/logos/logo_carto.png);
@logo_chauffeur : url(../images/logos/logo_chauffeur.png);
@logo_detail : url(../images/logos/logo_details.png);
@logo_synchro : url(../images/logos/logo_synchro.png);
@logo_appel : url(../images/logos/logo_appel.png);
@logo_mail : url(../images/logos/logo_mail.png);
@logo_visage : url(../images/logos/logo_visage.png);
@item_select : url(../images/item_select.png);
@item_notSelect : url(../images/item_notSelect.png);

@chap_prev : url(../images/forNav/chap_prev.png);
@chap_next : url(../images/forNav/chap_next.png);
@sub_next : url(../images/forNav/sub_next.png);


/*
@imgHeader :                 url(../images/header.jpg);
@imgRecrutement :             url(../images/recrutement.jpg);
@imgContact :             url(../images/contact.jpg);
@imgChiffres :             url(../images/chiffres.jpg);
@imgEdiAccess:             url(../images/ediaccess.png);

@imgMobTrac :             url(../images/mobitrac.png);
@imgEdiSection:             url(../images/ediSection.jpg);
@imgChiffreChauf :             url(../images/chiffreChauf.png);
@imgChiffreEdi :             url(../images/fluxedi.png);
@imgChiffreLiv :             url(../images/edi3.png);*/
